.navbar {
  justify-content: space-around;
  background-color: #C70039;
}

a {
  color: #DEC9C6;
  font-weight: bold;
  font: 24px "Red Hat Text", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #fff;
  font: 700 36px "Red Hat Text", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.67);
}

h2 {
  color: #000;
  font: 700 36px "Red Hat Text", sans-serif;
  letter-spacing: 10px;
}

.mobile-menu {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vw;
  width: 100vw;
  background-color: #C70039;
}

.mobile-menu > a {
  display: block;
}

.scrollableRow {
  overflow-x: scroll;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 18px;
  padding-right: 18px;
}

.scrollableRow > [class*=col-] {
  padding-left: 6px;
  padding-right: 6px;
}

@media (min-width: 1200px) {
  #Menu {
    display: none !important;
  }
}

.layout {
  height: 10px;
  background-color: lightgrey;
}

.aspectRatioBox {
  padding-top: 66%;
  background-size: cover;
  background-position: bottom;
}
