.navbar {
  justify-content: space-around;
  background-color: #C70039;
}

p {
  font: 300 .8em "Red Hat Text", sans-serif;
}

a {
  color: #DEC9C6;
  font-weight: bold;
  font: 1em "Red Hat Text", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #fff;
  font: 700 24px "Red Hat Text", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h2 {
  color: #000;
  font: 700 26px "Red Hat Text", sans-serif;
}

h3 {
  color: #000;
  font: 100 16px "Red Hat Text", sans-serif;
  margin-top: 5px;
}

.mobile-menu {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vw;
  width: 100vw;
  background-color: #C70039;
}

.mobile-menu > a {
  display: block;
}

@media (min-width: 1200px) {
  #Menu {
    display: none !important;
  }
}

.layout {
  height: 10px;
  background-color: lightgrey;
}

.aspectRatioBox {
  padding-top: 66%;
  background-size: cover;
  background-position: bottom;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5em;
}

.hero_main > a:hover {
  text-decoration: underline;
  color: #C70039;
}
